body
{
    text-align: center;
    font-family: "Areial";
    color: #333;
    font-size : 16 px;
    margin: 0 ;
    padding: 0 ;

}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#conatiner h1
{
    font-size: 20px;
}

